@font-face {
  font-family: "Euclid Circular A";
  src: url("../assets/fonts/Euclid-Circular-A-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(162, 202, 254, 1) 0%,
    rgba(236, 244, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}
